@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&family=Varela+Round&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Varela Round", sans-serif;
}
body {
  height: 100%;
  line-height: 22px;
  font-family: "Varela Round", sans-serif;
}

main {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  margin: 0 7px;
}

.slick-dots button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  border-radius: 50%;
}

/*
.slick-active{
  font-size: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}*/
/*.promo{
    position: relative;
    background-color: #de5d5d;
    height: 787px;
    .promo__banner{
        position: absolute;
        left: 55%;
        bottom: 0;
        transform: translateX(-50%);
        width: 1554px;
        height: 689px;
        background: url("../img/iphone.png")  no-repeat center bottom;
        height: 689px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        .container{
            .cta-block{
                margin: 0 auto;
                h2{
                    margin-top: 197px;
                    text-align: center;
                    letter-spacing: 1px;
                    font-size: 86px;
                    line-height: 1.2;
                    font-weight: 600;
                    color: #ffffff;
                }
                .cta-block__buttons{
                    margin: 75px auto 0 auto;
                    display: flex;
                    max-width: 543px;
                    .cta-block__button_first{
                        margin-right: 29px;
                    }
                    a{
                        font-size: 30px;
                        line-height: 1.2;
                        font-weight: 400;
                        color: #ffffff;
                    }
                    .cta-block__button{
                        display: block;
                        width: 257px;
                        height: 77px;
                        border: 3px solid #ffffff;
                        border-radius: 5px;
                    }
                }
            }
        }
    }*/
/*background: url("../img/iphone.png") 0 0/100% no-repeat;*/
.banner {
  margin-top: 98px;
  height: 689px;
  background: #de5d5d url("../img/iphone.png") 230px 0 no-repeat;
  /*.banner__backgroud{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-size: cover;
    height: 687px;
    width: 1554px;

  }*/
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}