@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.cdnfonts.com/css/myriad-pro");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Varela Round", sans-serif;
}
@font-face {
  font-family: "Montserrat", sans-serif;
}
@font-face {
  font-family: "Myriad Pro", sans-serif;
}
/* banner button*/
/* cta button style */
/*margin top and left*/
/*margin top and left*/
body {
  height: 100%;
  line-height: 22px;
  font-family: "Varela Round", sans-serif;
}

main {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container-custom {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-dots {
  display: flex;
  align-items: center;
}
.slick-dots li {
  margin: 0 4px;
}
.slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background-color: #ffffff;
  opacity: 1;
}

/*.navbar {
  height: 98px;
  &-brand {
  color: white;
  height: 96px;
  font-size: 60px;
  line-height: 102px;
  font-weight: 700;
  font-family: 'Myriad Pro', sans-serif;
}
.nav-link {
  color: white;
}
.container{
  margin-left: 22%;
}
}*/
.banner {
  margin-top: 98px;
  height: 689px;
  background: #de5d5d url("../img/iphone.png") 230px 0 no-repeat;
}
.banner .container-custom .cta-block {
  margin: 0 auto;
}
.banner .container-custom .cta-block h2 {
  font-family: "Montserrat", sans-serif;
  padding-top: 196px;
  margin-left: 163px;
  color: #ffffff;
  font-size: 90px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
}
.banner .container-custom .cta-block__buttons {
  margin: 70px 0 0 33.4%;
  display: flex;
  justify-content: space-between;
  max-width: 543px;
}
.banner .container-custom .cta-block__buttons_first {
  display: block;
  width: 257px;
  height: 77px;
  border: 3px solid #ffffff;
  border-radius: 5px;
}
.banner .container-custom .cta-block__buttons_first img {
  padding: 7px 0 0 20px;
}
.banner .container-custom .cta-block__buttons_first a {
  display: inline-block;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding: 15px 0 0 12px;
}
.banner .container-custom .cta-block__buttons_second {
  display: block;
  width: 257px;
  height: 77px;
  border: 3px solid #ffffff;
  border-radius: 5px;
}
.banner .container-custom .cta-block__buttons_second img {
  padding: 11px 0 0 27px;
}
.banner .container-custom .cta-block__buttons_second a {
  display: inline-block;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding: 15px 0 0 15px;
}

.benefits {
  height: 593px;
}
.benefits .container-custom h2 {
  margin-top: 102px;
  margin-bottom: 58px;
  margin-left: 523px;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  color: #3a3a3a;
  text-align: center;
}
.benefits .container-custom .benefits-list__item img {
  width: 229px;
  height: 229px;
  display: block;
}
.benefits .container-custom .benefits-list__item h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #666666;
}
.benefits .container-custom .benefits-list__item p {
  text-align: center;
  width: 250px;
  font-size: 16px;
}
.benefits .container-custom .benefits-list__item_start img {
  margin: 0 0 0 54px;
}
.benefits .container-custom .benefits-list__item_start h3 {
  margin-top: 40px;
  margin-left: 46px;
}
.benefits .container-custom .benefits-list__item_start p {
  margin: -4px 0 0 37px;
  line-height: 23.5px;
}
.benefits .container-custom .benefits-list__item_middle img {
  width: 231px;
  height: 230px;
  margin: 1px 0 0 57px;
}
.benefits .container-custom .benefits-list__item_middle h3 {
  margin-top: 38px;
  margin-left: 66px;
}
.benefits .container-custom .benefits-list__item_middle p {
  margin: -4px 0 0 47px;
  line-height: 23.5px;
}
.benefits .container-custom .benefits-list__item_end img {
  margin: 1px 0 0 59px;
}
.benefits .container-custom .benefits-list__item_end h3 {
  margin-top: 39px;
  margin-left: 73px;
}
.benefits .container-custom .benefits-list__item_end p {
  margin: -4px 0 0 50px;
  line-height: 23.5px;
}

.share {
  background-color: #262626;
}
.share .container-custom .share-img {
  margin-top: 72px;
  margin-left: 80px;
}
.share .container-custom .share-item {
  padding-left: 11px;
}
.share .container-custom .share-item .slick-dots {
  padding-left: 1px;
}
.share .container-custom .share-item .slick-dots li {
  margin: 31px 4px;
}
.share .container-custom .share-item__title h3 {
  padding-top: 184px;
  margin-left: 2px;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  color: white;
}
.share .container-custom .share-item__info {
  padding-top: 10px;
  padding-left: 6px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #aeaeae;
}
.share .container-custom .share-item__slider-list .slider-item {
  display: flex;
}
.share .container-custom .share-item__slider-list .slider-item__img {
  margin-top: 51px;
  margin-left: 6px;
  width: 170px;
  height: 93px;
}
.share .container-custom .share-item__slider-list .slider-item__paragraph {
  margin-top: 46px;
  margin-left: 31px;
  padding-right: 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #aeaeae;
}

.new-features {
  background-color: #313131;
}
.new-features .container-custom .new-features__img {
  margin-top: 54px;
  margin-left: 12px;
}
.new-features .container-custom .features-item ul {
  padding-left: 30px;
}
.new-features .container-custom .features-item .slick-dots {
  height: 43px;
  background: #f06464;
  border-radius: 0 0 5px 5px;
}
.new-features .container-custom .features-item .slick-dots li {
  margin: 31px 4px;
}
.new-features .container-custom .features-item__title {
  font-family: "Montserrat", sans-serif;
  margin-top: 168px;
  margin-left: 69px;
  font-size: 46px;
  letter-spacing: 1.6px;
  line-height: 1.2;
  font-weight: 600;
  color: #ffffff;
}
.new-features .container-custom .features-item__info {
  margin-top: 24px;
  margin-left: 73px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #aeaeae;
  letter-spacing: 0.02px;
}
.new-features .container-custom .features-item__slider-list {
  width: 470px;
  margin-left: 72px;
}
.new-features .container-custom .features-item__slider-list .slider-item {
  margin-top: 65px;
  display: flex;
  height: 189px;
  background-color: #ffffff;
  border-radius: 5px 5px 0 0;
}
.new-features .container-custom .features-item__slider-list .slider-item__img {
  width: 89px;
  height: 89px;
  margin-top: 43px;
  margin-left: 31px;
}
.new-features .container-custom .features-item__slider-list .slider-item .slider-info__title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #cc5858;
  margin-top: 33px;
  margin-left: 28px;
  letter-spacing: 0.2px;
}
.new-features .container-custom .features-item__slider-list .slider-item .slider-info__paragraph {
  margin-top: 9px;
  margin-left: 30px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
  padding-right: 50px;
  letter-spacing: 0.1px;
}

@media (max-width: 1800px) {
  .banner {
    background: #de5d5d url("../img/iphone.png") 50% 0 no-repeat;
  }
  .banner .container .cta-block h2 {
    margin: 0 auto;
  }
  .banner .container .cta-block .cta-block__buttons {
    margin: 77px auto 0 auto;
  }
}
@media (max-width: 1400px) {
  .share .container-custom .share-img {
    margin-left: 0;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .banner .container .cta-block h2 {
    font-size: 75px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  .banner .container .cta-block .cta-block__buttons {
    margin: 77px auto 0 auto;
  }
  .banner .container .cta-block .cta-block__buttons_first {
    width: 230px;
    height: 65px;
  }
  .banner .container .cta-block .cta-block__buttons_first img {
    padding: 4px 0 0 5px;
  }
  .banner .container .cta-block .cta-block__buttons_first a {
    display: inline-block;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    padding: 10px 0 0 12px;
  }
  .banner .container .cta-block .cta-block__buttons_second {
    width: 230px;
    height: 65px;
  }
  .banner .container .cta-block .cta-block__buttons_second img {
    padding: 4px 0 0 5px;
  }
  .banner .container .cta-block .cta-block__buttons_second a {
    display: inline-block;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    padding: 10px 0 0 15px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .banner .container .cta-block h2 {
    font-size: 65px;
    letter-spacing: 0;
  }
  .banner .container .cta-block .cta-block__buttons {
    margin: 77px auto 0 auto;
    max-width: 500px;
  }
  .banner .container .cta-block .cta-block__buttons_first {
    width: 230px;
    height: 65px;
  }
  .banner .container .cta-block .cta-block__buttons_first img {
    padding: 4px 0 0 5px;
  }
  .banner .container .cta-block .cta-block__buttons_first a {
    display: inline-block;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    padding: 10px 0 0 12px;
  }
  .banner .container .cta-block .cta-block__buttons_second {
    width: 230px;
    height: 65px;
  }
  .banner .container .cta-block .cta-block__buttons_second img {
    padding: 4px 0 0 5px;
  }
  .banner .container .cta-block .cta-block__buttons_second a {
    display: inline-block;
    font-size: 30px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    padding: 10px 0 0 15px;
  }
}
@media (max-width: 991px) {
  .share {
    height: auto;
  }
  .share .container-custom .share-img {
    margin-left: 25%;
  }
}
@media (max-width: 850px) {
  .share .container-custom .share-img {
    margin-left: 20%;
  }
}
@media (max-width: 768px) {
  .banner .container .cta-block h2 {
    font-size: 45px;
  }
  .banner .container .cta-block .cta-block__buttons {
    flex-direction: column;
  }
  .banner .container .cta-block .cta-block__buttons_first {
    margin: 0 auto 20px auto;
  }
  .banner .container .cta-block .cta-block__buttons_second {
    margin: 0 auto;
  }
  .share .container-custom .share-img {
    margin: 72px auto 0 auto;
  }
}
@media (max-width: 650px) {
  .share .container-custom .share-img {
    margin: 72px auto 0 auto;
  }
  .share .container-custom .share-img img {
    width: 100%;
    height: auto;
  }
  .share .container-custom .share-item .slick-dots {
    justify-content: center;
  }
  .share .container-custom .share-item__title h3 {
    text-align: center;
  }
  .share .container-custom .share-item__info {
    text-align: center;
  }
  .share .container-custom .share-item__slider-list .slider-item {
    display: flex;
    flex-direction: column;
  }
  .share .container-custom .share-item__slider-list .slider-item__img {
    display: block;
    margin: 30px auto 0 auto;
  }
  .share .container-custom .share-item__slider-list .slider-item__paragraph {
    text-align: center;
  }
}