@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans&family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.cdnfonts.com/css/myriad-pro");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "Varela Round", sans-serif;
}
@font-face {
  font-family: "Montserrat", sans-serif;
}
@font-face {
  font-family: "Myriad Pro", sans-serif;
}
/* banner button*/
/* cta button style */
/*margin top and left*/
/*margin top and left*/
body {
  height: 100%;
  line-height: 22px;
  font-family: "Varela Round", sans-serif;
}

main {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.container-custom {
  max-width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}

.slick-dots {
  display: flex;
  align-items: center;
}
.slick-dots li {
  margin: 0 4px;
}
.slick-dots li button {
  font-size: 0;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #fff;
  border-radius: 50%;
}

.slick-dots li.slick-active button {
  background-color: #fff;
  opacity: 1;
}

/* banner button*/
/* cta button style */
/*margin top and left*/
/*margin top and left*/
.navbar {
  height: 98px;
  width: 100%;
  background-color: #de5d5d;
  position: fixed;
  z-index: 1000;
}
.navbar .show {
  position: absolute;
  background: #de5d5d;
  width: 100%;
  top: 98px;
  left: 0;
  text-align: center;
  padding: 0;
}
.navbar-collapse {
  padding-top: 0.3%;
  padding-left: 14.55%;
}
.navbar-collapse .nav-link {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  margin-right: 29px;
}
.navbar-collapse .nav-link:hover {
  border-top: 5px solid #fff;
  margin-bottom: 0;
  padding-bottom: 0;
}
.navbar-collapse .features {
  margin-right: 4px;
}
.navbar-collapse .download {
  margin-right: -6px;
}
.navbar-brand {
  color: #fff;
  height: 96px;
  font-size: 60px;
  font-weight: 700;
  font-family: "Myriad Pro", sans-serif;
  padding-top: 1.6%;
  padding-left: 21.3%;
}
.navbar span {
  color: #fff;
}

.banner {
  margin-top: 98px;
  position: relative;
}
.banner__list .cta-block {
  background: #de5d5d url("../img/iphone.png") 230px 0 no-repeat;
  width: 100%;
  height: 689px;
}
.banner__list .cta-block h2 {
  font-family: "Montserrat", sans-serif;
  padding-top: 16.58%;
  padding-left: 1.2%;
  color: #fff;
  font-size: 90px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0;
  line-height: normal;
}
.banner__list .cta-block__buttons {
  padding-top: 5.51%;
  padding-left: 5.8%;
  display: flex;
  flex-direction: column;
  max-width: 611px;
}
.banner__list .cta-block__buttons .button-block {
  display: flex;
  justify-content: space-between;
}
.banner__list .cta-block__buttons .button-block__button_first {
  display: block;
  width: 257px;
  height: 77px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.banner__list .cta-block__buttons .button-block__button_first:hover {
  transform: scale(1.05);
}
.banner__list .cta-block__buttons .button-block__button_first img {
  padding: 7px 0 0 20px;
}
.banner__list .cta-block__buttons .button-block__button_first .button__text {
  display: inline-block;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding: 15px 0 0 12px;
}
.banner__list .cta-block__buttons .button-block__button_second {
  display: block;
  width: 257px;
  height: 77px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.banner__list .cta-block__buttons .button-block__button_second:hover {
  transform: scale(1.05);
}
.banner__list .cta-block__buttons .button-block__button_second img {
  padding: 11px 0 0 27px;
}
.banner__list .cta-block__buttons .button-block__button_second .button__text {
  display: inline-block;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding: 15px 0 0 15px;
}
.banner .slider-dots {
  position: absolute;
  top: 610px;
  left: 49.2%;
  text-align: center;
  margin-top: 10px;
}
.banner .slider-dots .dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0);
  border: 3px solid #fff;
  border-radius: 50%;
  margin: 0 3px;
  cursor: pointer;
}
.banner .slider-dots .dot--active {
  background-color: #fff;
}

/* banner button*/
/* cta button style */
/*margin top and left*/
/*margin top and left*/
.benefits {
  margin-bottom: 113px;
}
.benefits .container-custom h2 {
  margin-top: 100px;
  margin-bottom: 58px;
  padding-left: 1.7%;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  color: #3a3a3a;
}
.benefits .container-custom .benefits-list__item img {
  width: 229px;
  height: 229px;
  display: block;
}
.benefits .container-custom .benefits-list__item h3 {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: #666666;
}
.benefits .container-custom .benefits-list__item p {
  text-align: center;
  width: 250px;
  font-size: 16px;
}
.benefits .container-custom .benefits-list__item_start {
  margin-left: 5.78%;
}
.benefits .container-custom .benefits-list__item_start img {
  margin: 2px 0 0 51px;
}
.benefits .container-custom .benefits-list__item_start h3 {
  margin-top: 40px;
  margin-left: 42px;
}
.benefits .container-custom .benefits-list__item_start p {
  margin: -4px 0 0 34px;
  line-height: 23.5px;
}
.benefits .container-custom .benefits-list__item_middle img {
  width: 231px;
  height: 230px;
  margin: 3px 0 0 54px;
}
.benefits .container-custom .benefits-list__item_middle h3 {
  margin-top: 38px;
  margin-left: 64px;
}
.benefits .container-custom .benefits-list__item_middle p {
  margin: -4px 0 0 44px;
  line-height: 23.5px;
}
.benefits .container-custom .benefits-list__item_end img {
  margin: 3px 0 0 56px;
}
.benefits .container-custom .benefits-list__item_end h3 {
  margin-top: 39px;
  margin-left: 67px;
}
.benefits .container-custom .benefits-list__item_end p {
  margin: -4px 0 0 47px;
  line-height: 23.5px;
}

/* banner button*/
/* cta button style */
/*margin top and left*/
/*margin top and left*/
.share {
  background-color: #262626;
}
.share .container-custom .share-img {
  margin-top: 72px;
  margin-left: 3.89%;
}
.share .container-custom .share-item {
  padding-left: 11px;
}
.share .container-custom .share-item .slick-dots {
  padding-left: 1px;
}
.share .container-custom .share-item .slick-dots li {
  margin: 31px 4px;
}
.share .container-custom .share-item__title h3 {
  padding-top: 182px;
  margin-left: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
}
.share .container-custom .share-item__info {
  padding-top: 13px;
  padding-left: 6px;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 27px;
  font-weight: 400;
  color: #aeaeae;
}
.share .container-custom .share-item__slider-list .slider-item {
  display: flex;
}
.share .container-custom .share-item__slider-list .slider-item__img {
  margin-top: 51px;
  margin-left: 7px;
  width: 170px;
  height: 93px;
}
.share .container-custom .share-item__slider-list .slider-item__paragraph {
  margin-top: 46px;
  margin-left: 31px;
  padding-right: 12px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #aeaeae;
}

/* banner button*/
/* cta button style */
/*margin top and left*/
/*margin top and left*/
.new-features {
  background-color: #313131;
}
.new-features .container-custom .new-features__img {
  margin-top: 54px;
  margin-left: 12px;
}
.new-features .container-custom .features-item {
  margin-left: 5.8%;
}
.new-features .container-custom .features-item ul {
  padding-left: 30px;
}
.new-features .container-custom .features-item .slick-dots {
  height: 43px;
  background: #de5d5d;
  border-radius: 0 0 5px 5px;
}
.new-features .container-custom .features-item .slick-dots li {
  margin: 31px 4px;
}
.new-features .container-custom .features-item .slick-dots li button {
  height: 12px;
  width: 12px;
}
.new-features .container-custom .features-item__title {
  font-family: "Montserrat", sans-serif;
  margin-top: 167px;
  margin-left: 69px;
  font-size: 46px;
  letter-spacing: 1.6px;
  line-height: 1.2;
  font-weight: 600;
  color: #fff;
}
.new-features .container-custom .features-item__info {
  margin-top: 24px;
  margin-left: 73px;
  padding-right: 20px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #aeaeae;
  letter-spacing: 0.02px;
}
.new-features .container-custom .features-item__slider-list {
  width: 470px;
  margin-left: 72px;
}
.new-features .container-custom .features-item__slider-list .slider-item {
  margin-top: 66px;
  display: flex;
  height: 189px;
  background-color: #fff;
  border-radius: 5px 5px 0 0;
}
.new-features .container-custom .features-item__slider-list .slider-item__img {
  width: 89px;
  height: 89px;
  margin-top: 43px;
  margin-left: 31px;
}
.new-features .container-custom .features-item__slider-list .slider-item .slider-info__title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #de5d5d;
  margin-top: 33px;
  margin-left: 28px;
  letter-spacing: 0.2px;
}
.new-features .container-custom .features-item__slider-list .slider-item .slider-info__paragraph {
  margin-top: 9px;
  margin-left: 30px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
  padding-right: 50px;
  letter-spacing: 0.1px;
}

/* banner button*/
/* cta button style */
/*margin top and left*/
/*margin top and left*/
.photos .container-custom h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 600;
  color: #de5d5d;
  margin-top: 69px;
  margin-left: 12.3%;
}
.photos .container-custom .photos-info {
  margin-top: 18px;
  margin-left: 12.6%;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #666666;
  letter-spacing: 0.07px;
  max-width: 450px;
  margin-bottom: 78px;
}
.photos .photos__list {
  display: flex;
}
.photos .photos__list .image-container {
  position: relative;
  padding: 0;
}
.photos .photos__list .image-container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #151515;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}
.photos .photos__list .image-container .overlay__menu {
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  color: #cbcbcb;
  position: absolute;
  top: 55%;
  left: 49.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  width: 450px;
}
.photos .photos__list .image-container .overlay__menu p {
  display: inline-block;
}
.photos .photos__list .image-container .overlay__menu .likes {
  position: absolute;
  right: -3px;
  top: -1px;
}
.photos .photos__list .image-container .overlay__menu .likes i {
  color: #de5d5d;
  display: inline-block;
  width: 25px;
  height: 31px;
  cursor: pointer;
}
.photos .photos__list .image-container .overlay__menu .likes span {
  font-size: 24px;
  line-height: 27px;
  font-weight: 400;
  color: #de5d5d;
}
.photos .photos__list .image-container:hover img {
  transform: translateY(-10.5%) scale(1, 0.936);
  transition: 0.5s ease;
}
.photos .photos__list .image-container:hover .overlay {
  height: 88px;
}
.photos .photos__list .image-container img {
  transition: 0.5s ease;
  height: 519px;
  width: 100%;
}
.photos .photos__list .image-first {
  width: 464px;
  position: relative;
  padding: 0;
}
.photos .photos__list .image-first .overlay__menu {
  width: 400px;
}
.photos .photos__list .image-second {
  width: 518px;
}
.photos .photos__list .image-third {
  width: 519px;
}
.photos .photos__list .image-fourth {
  width: 498px;
}
.photos .photos__list .image-fourth .overlay__menu {
  width: 420px;
}

/* banner button*/
/* cta button style */
/*margin top and left*/
/*margin top and left*/
.cta {
  background-color: #de5d5d;
}
.cta .container-custom__image {
  margin-top: 224px;
  margin-left: 11.45%;
}
.cta .container-custom__image img {
  width: 246px;
  height: 246px;
}
.cta .container-custom .cta-form {
  margin-bottom: 219px;
}
.cta .container-custom .cta-form__info {
  margin-top: 174px;
  margin-left: 17.1%;
  font-family: "Montserrat", sans-serif;
  font-size: 44px;
  line-height: 1;
  letter-spacing: 2.25px;
  font-weight: 600;
  color: #fff;
}
.cta .container-custom .cta-form__info_second {
  margin-top: 4px;
  margin-left: 2px;
}
.cta .container-custom .cta-form__info_third {
  letter-spacing: 1.98px;
}
.cta .container-custom .cta-form__source {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  margin-top: 23px;
  margin-left: 16.9%;
}
.cta .container-custom .cta-form__buttons {
  margin: 41px 0 0 16.7%;
  display: flex;
  justify-content: space-between;
  max-width: 543px;
}
.cta .container-custom .cta-form__buttons_first {
  display: block;
  width: 257px;
  height: 77px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.cta .container-custom .cta-form__buttons_first:hover {
  transform: scale(1.05);
}
.cta .container-custom .cta-form__buttons_first img {
  padding: 10px 0 0 19px;
}
.cta .container-custom .cta-form__buttons_first .button__text {
  display: inline-block;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding: 16px 0 0 12px;
}
.cta .container-custom .cta-form__buttons_second {
  display: block;
  width: 257px;
  height: 77px;
  border: 3px solid #ffffff;
  border-radius: 5px;
  transition: transform 0.3s ease;
}
.cta .container-custom .cta-form__buttons_second:hover {
  transform: scale(1.05);
}
.cta .container-custom .cta-form__buttons_second img {
  padding: 14px 0 0 27px;
}
.cta .container-custom .cta-form__buttons_second .button__text {
  display: inline-block;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
  padding: 16px 0 0 15px;
}

/* banner button*/
/* cta button style */
/*margin top and left*/
/*margin top and left*/
.compatibility {
  background-color: #cbcbcb;
  padding: 85px 0 120px 0;
}
.compatibility .container-custom .title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 600;
  color: #666666;
  border-bottom: 2px solid #cbcbcb;
  max-width: 970px;
  margin-top: 0;
  margin-left: 12.65%;
  padding-bottom: 22px;
}
.compatibility .container-custom .operating-systems {
  margin-top: 32px;
  margin-left: 11.65%;
}
.compatibility .container-custom .operating-systems .ios {
  padding-right: 0;
}
.compatibility .container-custom .operating-systems .ios__title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  color: #666666;
}
.compatibility .container-custom .operating-systems .ios__info {
  margin-top: 2px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.044px;
}
.compatibility .container-custom .operating-systems .ios__devices {
  margin-top: 27px;
  margin-left: 1px;
}
.compatibility .container-custom .operating-systems .android {
  margin-left: 6.5%;
}
.compatibility .container-custom .operating-systems .android__title {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  color: #666666;
}
.compatibility .container-custom .operating-systems .android__info {
  margin-top: 2px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.044px;
}
.compatibility .container-custom .operating-systems .android__devices {
  margin-top: 33px;
  margin-left: 1px;
}

/* banner button*/
/* cta button style */
/*margin top and left*/
/*margin top and left*/
footer {
  background: #f4f4f4;
  padding-bottom: 79px;
}
footer .copyright {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  color: #666666;
  padding-top: 94px;
  padding-left: 5.4%;
  letter-spacing: 0.08px;
}
footer .registration-form {
  padding-top: 60px;
  padding-left: 9.2%;
}
footer .registration-form form {
  display: flex;
  flex-direction: column;
}
footer .registration-form form label {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #666666;
  margin-left: 3px;
}
footer .registration-form form .email-form {
  padding-top: 13px;
  padding-left: 0;
}
footer .registration-form form .email-form input {
  width: 311px;
  height: 50px;
  font-weight: 500;
  background-color: #f4f4f4;
  border: 1px solid #aeaeae;
  border-radius: 5px;
  padding: 18px 20px 18px 17px;
  letter-spacing: 0.35px;
}
footer .registration-form form .email-form input[type=email]:invalid:not(:focus):not(:placeholder-shown) {
  box-shadow: inset 0 0 13px 0 rgba(228, 106, 106, 0.74);
}
footer .registration-form form .email-form input[type=email]:focus {
  box-shadow: inset 0 0 1px 1px #3393FF;
}
footer .registration-form form .email-form .email {
  padding-top: 9px;
  padding-bottom: 3px;
}
footer .registration-form form .email-form button {
  margin-left: 8px;
  width: 100px;
  height: 48px;
  background-color: #de5d5d;
  border-radius: 5px;
  color: #fff;
}
footer .registration-form form .email-form button:hover {
  transform: scale(1.05);
}
footer .registration-form form .email-form button span {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #f4f4f4;
}

@media (max-width: 1860px) {
  .photos .photos__list .image-container .overlay__menu {
    width: 300px;
  }
}
@media (max-width: 1800px) {
  .banner__list .cta-block {
    background: #de5d5d url("../img/iphone.png") 50% 0 no-repeat;
  }
  .photos .photos__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .photos .photos__list .image-container {
    width: 500px;
    margin: 0 auto 50px auto;
  }
  .photos .photos__list .image-container .overlay__menu {
    width: 300px;
  }
}
@media (max-width: 1440px) {
  .navbar-collapse {
    padding-top: 0.3%;
    padding-left: 20%;
  }
  .navbar-brand {
    padding-top: 27px;
    padding-left: 1%;
  }
}
@media (max-width: 1400px) {
  .share .container-custom .share-img {
    margin-left: 0;
  }
  .photos .photos__list .image-first {
    width: 464px;
  }
  .photos .photos__list .image-second {
    width: 518px;
  }
  .photos .photos__list .image-third {
    width: 519px;
  }
  .photos .photos__list .image-fourth {
    width: 498px;
  }
  .photos .photos__list .image-container .overlay__menu {
    top: 55%;
    left: 49.5%;
    width: 450px;
  }
  .photos .photos__list .image-container img {
    height: 519px;
    width: 100%;
  }
  .photos .photos__list .image-container {
    width: 490px;
    margin: 0 auto 38px auto;
  }
  .photos .photos__list .image-container img {
    width: 100%;
  }
  .photos .photos__list .image-container .overlay__menu {
    width: 300px;
  }
  .new-features .container-custom .features-item {
    margin-left: 0;
  }
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .navbar-collapse {
    padding-top: 0.3%;
    padding-left: 16%;
  }
  .navbar-collapse .nav-link {
    margin-right: 10px;
  }
  .navbar-collapse .features {
    margin-right: 0;
  }
  .navbar-collapse .download {
    margin-right: 0;
  }
  .new-features .container-custom .new-features__img {
    margin-top: 80px;
    margin-left: 0;
  }
  .new-features .container-custom .new-features__img img {
    height: 559px;
    width: 393px;
  }
  .new-features .container-custom .features-item__title {
    margin: 70px auto 0 auto;
    text-align: center;
  }
  .new-features .container-custom .features-item__info {
    margin: 24px auto 0 auto;
    padding-right: 30px;
    padding-left: 30px;
  }
  .benefits .container-custom .row {
    margin-left: 0;
    margin-right: 0;
  }
  .benefits .container-custom h2 {
    margin-top: 100px;
    margin-bottom: 58px;
    padding-left: 37px;
    text-align: center;
  }
  .benefits .container-custom .benefits-list__item_start {
    margin-left: 0;
  }
  .benefits .container-custom .benefits-list__item_start img {
    margin: 2px auto 0 auto;
    display: block;
  }
  .benefits .container-custom .benefits-list__item_start h3 {
    margin: 40px auto 20px auto;
  }
  .benefits .container-custom .benefits-list__item_start p {
    margin: -4px auto 0 auto;
  }
  .benefits .container-custom .benefits-list__item_middle img {
    margin: 3px auto 0 auto;
  }
  .benefits .container-custom .benefits-list__item_middle h3 {
    margin: 38px auto 20px auto;
  }
  .benefits .container-custom .benefits-list__item_middle p {
    margin: -4px auto 0 auto;
  }
  .benefits .container-custom .benefits-list__item_end img {
    margin: 3px auto 0 auto;
  }
  .benefits .container-custom .benefits-list__item_end h3 {
    margin: 39px auto 20px auto;
  }
  .benefits .container-custom .benefits-list__item_end p {
    margin: -4px auto 0 auto;
  }
  .share {
    background-color: #151515;
  }
  .share .container-custom .share-img img {
    margin: 30px auto 0 auto;
    display: block;
  }
  .share .container-custom .share-item {
    margin: 0 auto;
    max-width: 550px;
  }
  .share .container-custom .share-item__title h3 {
    padding-top: 42px;
  }
  .banner__list .cta-block h2 {
    letter-spacing: 0.5px;
    text-align: center;
  }
  .banner__list .cta-block__buttons {
    margin: 0 auto;
    padding-top: 65px;
    padding-left: 0;
    max-width: 543px;
  }
  .banner .slider-dots {
    left: 44%;
  }
  .cta .container-custom__image {
    margin: 40px auto 0 auto;
  }
  .cta .container-custom__image img {
    display: block;
    margin: 0 auto;
  }
  .cta .container-custom .cta-form {
    margin-bottom: 20px;
  }
  .cta .container-custom .cta-form__info {
    margin: 40px auto 0 auto;
    text-align: center;
  }
  .cta .container-custom .cta-form__source {
    margin: 20px auto 0 auto;
    text-align: center;
  }
  .cta .container-custom .cta-form__buttons {
    margin: 42px auto 30px auto;
  }
  .compatibility .container-custom .title {
    margin: 89px auto 0 auto;
    text-align: center;
    max-width: 80%;
  }
  .compatibility .container-custom .operating-systems {
    margin: 35px auto 0 auto;
  }
  .compatibility .container-custom .operating-systems .ios {
    max-width: 450px;
    margin: 0 auto;
  }
  .compatibility .container-custom .operating-systems .android {
    max-width: 450px;
    margin: 0 auto;
  }
  footer .copyright {
    padding-top: 94px;
    padding-left: 0;
    text-align: center;
  }
  footer .registration-form {
    padding-top: 60px;
    padding-left: 0;
    margin: 0 auto;
  }
  footer .registration-form form {
    display: flex;
    flex-direction: column;
  }
  footer .registration-form form label {
    text-align: center;
  }
  footer .registration-form form .email-form {
    padding-top: 13px;
    padding-left: 0;
    margin: 0 auto;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .banner__list .cta-block h2 {
    padding-left: 0;
    font-size: 70px;
    letter-spacing: 0;
  }
  .photos .photos__list .image-container {
    margin-bottom: 26px;
    width: 350px;
  }
  .photos .photos__list .image-container img {
    height: 365px;
  }
  .photos .photos__list .image-container:hover .overlay {
    height: 50px;
  }
  .compatibility .container-custom .operating-systems {
    margin: 35px auto 0 auto;
  }
  .compatibility .container-custom .operating-systems .ios {
    max-width: 450px;
    margin: 20px auto;
  }
  .compatibility .container-custom .operating-systems .android {
    max-width: 450px;
    margin: 20px auto;
  }
}
@media (max-width: 991px) {
  .new-features {
    background-color: #313131;
  }
  .new-features .container-custom .new-features__img {
    margin: 0;
  }
  .new-features .container-custom .new-features__img img {
    display: block;
    margin: 20px auto 0 auto;
    height: 559px;
    width: 393px;
  }
  .new-features .container-custom .features-item__info {
    max-width: 550px;
  }
  .new-features .container-custom .features-item__slider-list {
    margin: 0 auto;
  }
  .navbar-toggler {
    margin-right: 20px;
  }
  .navbar-collapse .nav-link {
    max-width: 130px;
    margin: 0 auto;
  }
  .benefits {
    margin-bottom: 15px;
  }
  .benefits .container-custom h2 {
    margin-top: 50px;
    padding: 0;
  }
  .benefits .container-custom .benefits-list__item_start p {
    margin: -4px auto 40px auto;
  }
  .benefits .container-custom .benefits-list__item_middle p {
    margin: -4px auto 40px auto;
  }
  .benefits .container-custom .benefits-list__item_end p {
    margin: -4px auto 40px auto;
  }
}
@media (max-width: 768px) {
  .banner__list .cta-block h2 {
    font-size: 60px;
  }
  .banner__list .cta-block__buttons {
    flex-direction: column;
  }
  .banner__list .cta-block__buttons .button-block {
    display: flex;
    flex-direction: column;
  }
  .banner__list .cta-block__buttons .button-block__button_first {
    margin: 0 auto 20px auto;
  }
  .banner__list .cta-block__buttons .button-block__button_second {
    margin: 0 auto;
  }
  .share .container-custom .share-img {
    margin: 72px auto 0 auto;
  }
  .cta .container-custom__image {
    margin: 40px auto 0 auto;
  }
  .cta .container-custom__image img {
    display: block;
    margin: 0 auto;
  }
  .cta .container-custom .cta-form__info {
    margin: 40px auto 0 auto;
    text-align: center;
    font-size: 30px;
    letter-spacing: 1px;
  }
  .cta .container-custom .cta-form__source {
    margin: 20px auto 0 auto;
    text-align: center;
  }
  .cta .container-custom .cta-form__buttons {
    margin: 42px auto 30px auto;
  }
  .compatibility .container-custom .operating-systems .ios__title {
    text-align: center;
  }
  .compatibility .container-custom .operating-systems .ios__info {
    text-align: center;
  }
  .compatibility .container-custom .operating-systems .ios__devices {
    display: block;
    margin: 20px auto;
  }
  .compatibility .container-custom .operating-systems .android__title {
    text-align: center;
  }
  .compatibility .container-custom .operating-systems .android__info {
    text-align: center;
  }
  .compatibility .container-custom .operating-systems .android__devices {
    display: block;
    margin: 20px auto;
  }
  footer .row {
    margin: 0;
    padding: 0;
  }
  footer .registration-form {
    padding: 0;
  }
  footer .registration-form form {
    margin: 0 auto;
  }
}
@media (max-width: 700px) {
  .photos .container-custom h2 {
    font-size: 30px;
    line-height: 1.2;
    margin-top: 25px;
    margin-left: 0;
    text-align: center;
  }
  .photos .container-custom .photos-info {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0;
    max-width: 450px;
    margin: 20px auto 75px auto;
  }
  .photos .photos__list {
    display: flex;
  }
  .photos .photos__list .image-container {
    margin: 0 auto 26px auto;
  }
}
@media (max-width: 650px) {
  .share .container-custom .share-img {
    margin: 20px auto 0 auto;
  }
  .share .container-custom .share-img img {
    width: 100%;
    height: auto;
  }
  .share .container-custom .share-item .slick-dots {
    justify-content: center;
  }
  .share .container-custom .share-item__title h3 {
    text-align: center;
    font-size: 35px;
  }
  .share .container-custom .share-item__info {
    text-align: center;
  }
  .share .container-custom .share-item__slider-list .slider-item {
    display: flex;
    flex-direction: column;
  }
  .share .container-custom .share-item__slider-list .slider-item__img {
    display: block;
    margin: 30px auto 0 auto;
  }
  .share .container-custom .share-item__slider-list .slider-item__paragraph {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .cta {
    height: auto;
  }
  .cta .container-custom .cta-form__buttons {
    flex-direction: column;
  }
  .cta .container-custom .cta-form__buttons_first {
    margin: 0 auto;
  }
  .cta .container-custom .cta-form__buttons_second {
    margin: 30px auto 0 auto;
  }
  .banner__list .cta-block h2 {
    font-size: 50px;
  }
  .banner .slider-dots {
    left: 39%;
  }
}
@media (max-width: 550px) {
  .banner__list .cta-block h2 {
    font-size: 32px;
  }
  .new-features .container-custom .new-features__img img {
    display: block;
    margin: 20px auto 0 auto;
    height: 559px;
    width: 393px;
  }
  .new-features .container-custom .features-item__info {
    margin: 24px auto 0 auto;
    padding: 0;
    max-width: 500px;
    text-align: center;
  }
  .new-features .container-custom .features-item__slider-list {
    width: 300px;
  }
  .new-features .container-custom .features-item__slider-list .slider-item {
    flex-direction: column;
    height: auto;
  }
  .new-features .container-custom .features-item__slider-list .slider-item__img {
    display: block;
    margin: 20px auto;
  }
  .new-features .container-custom .features-item__slider-list .slider-item .slider-info__title {
    margin: 0 auto;
    text-align: center;
  }
  .new-features .container-custom .features-item__slider-list .slider-item .slider-info__paragraph {
    margin: 10px auto;
    text-align: center;
    padding: 0 20px;
  }
}
@media (max-width: 450px) {
  footer .registration-form form .email-form {
    display: flex;
    flex-direction: column;
  }
  footer .registration-form form .email-form button {
    margin: 20px auto 0 auto;
  }
  .banner .slider-dots {
    left: 36%;
  }
}
@media (max-width: 420px) {
  .new-features .container-custom .features-item__title {
    margin: 40px auto 0 auto;
    font-size: 34px;
    letter-spacing: 0;
  }
  .new-features .container-custom .new-features__img img {
    margin: auto auto 0 auto;
    height: auto;
    width: 100%;
  }
  .photos .photos__list {
    display: flex;
  }
  .photos .photos__list .image-container {
    margin: 0 auto 26px auto;
  }
  .photos .photos__list .image-container .overlay__menu {
    top: 55%;
    left: 49.5%;
  }
  .photos .photos__list .image-container .overlay__menu .likes {
    right: 0;
  }
}
@media (max-width: 400px) {
  .compatibility .container-custom .operating-systems .android img {
    height: auto;
    width: 90%;
  }
}
@media (max-width: 350px) {
  .photos .photos__list {
    display: flex;
  }
  .photos .photos__list .image-container {
    margin: 0 auto 26px auto;
  }
  .photos .photos__list .image-container .overlay__menu {
    left: 50%;
  }
  .photos .photos__list .image-container .overlay__menu .likes {
    right: 0;
  }
}