@media (max-width: 1860px) {
  .photos{
    .photos__list{
      .image-container{
        .overlay {
          &__menu {
            width: 300px;
          }
        }
      }
    }
  }
}

@media (max-width: 1800px){
  //banner photo centering
  .banner {
    &__list {
      .cta-block {
        background: #de5d5d url('../img/iphone.png') 50% 0 no-repeat;
      }
    }
  }
  //photos in 2 rows
  .photos{
    .photos__list{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      .image-container{
        width: 500px;
        margin: 0 auto 50px auto;
        .overlay {
          &__menu {
            width: 300px;
          }
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .navbar {
    &-collapse{
      @include ptl(0.3%,20%);
    }
    &-brand {
      @include ptl(27px,1%);
    }
  }
}

@media (max-width: 1400px){
  .share {
    .container-custom {
      .share-img {
        margin-left: 0;
      }
    }
  }
  .photos{
    .photos__list{
      .image-first{
        width: 464px;
      }
      .image-second{
        width: 518px;
      }
      .image-third{
        width: 519px;
      }
      .image-fourth{
        width: 498px;
      }
      .image-container {
        .overlay {
          &__menu {
            top: 55%;
            left: 49.5%;
            width: 450px;
          }
        }
        img{
          height: 519px;
          width: 100%;
        }
      }
    }
  }
  //centering photo
  .photos{
    .photos__list{
      .image-container{
        width: 490px;
        margin: 0 auto 38px auto;
        img{
          width: 100%;
        }
        .overlay {
          &__menu {
            width: 300px;
          }
        }
      }
    }
  }
  .new-features{
    .container-custom{
      .features-item{
        margin-left: 0;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .navbar {
    &-collapse {
      @include ptl(0.3%,16%);
      .nav-link {
        margin-right: 10px;
      }
      .features {
        margin-right: 0;
      }
      .download {
        margin-right: 0;
      }
    }
  }
  .new-features{
    .container-custom{
      .new-features__img{
        margin-top: 80px;
        margin-left: 0;
        img{
          height: 559px;
          width: 393px;
        }
      }
      .features-item{
        &__title{
          margin: 70px auto 0 auto;
          text-align: center;
        }
        &__info{
          margin: 24px auto 0 auto;
          padding-right: 30px;
          padding-left: 30px;
        }
      }
    }
  }
  .benefits{
    .container-custom{
      .row{
        margin-left: 0;
        margin-right: 0;
      }
      //centering title
      h2{
        margin-top: 100px;
        margin-bottom: 58px;
        padding-left: 37px;
        text-align: center;
      }
      .benefits-list{
        &__item_start {
          margin-left: 0;
          //centering photo
          img {
            margin: 2px auto 0 auto;
            display: block;
          }
          //centering title
          h3{
            margin: 40px auto 20px auto;
          }
          //centering paragraph
          p{
            margin: -4px auto 0 auto;
          }
        }
        &__item_middle {
          //centering photo
          img {
            margin: 3px auto 0 auto;
          }
          //centering title
          h3{
            margin: 38px auto 20px auto;
          }
          //centering paragraph
          p{
            margin: -4px auto 0 auto;
          }
        }
        &__item_end {
          //centering photo
          img {
            margin: 3px auto 0 auto;
          }
          //centering title
          h3{
            margin: 39px auto 20px auto;
          }
          //centering paragraph
          p{
            margin: -4px auto 0 auto;
          }
        }
      }
    }
  }
  .share{
    background-color: #262626;
    .container-custom{
      .share-img{
        //centering photo
        img{
         margin: 30px auto 0 auto;
         display: block;
        }
       }
      .share-item {
        //centering item
        margin: 0 auto;
        max-width: 550px;
        &__title{
          h3{
            padding-top: 42px;
          }
        }
      }
    }
  }
  .banner{
    &__list{
      .cta-block{
        h2{
          letter-spacing: 0.5px;
          text-align: center;
        }
        &__buttons{
          //centering button
          margin: 0 auto;
          @include ptl(65px,0);
          max-width: 543px;
        }
      }
    }
    .slider-dots {
      left: 44%;
    }
  }
  .cta{
    .container-custom{
      //centering photo
      &__image{
        margin: 40px auto 0 auto;
        img{
          display: block;
          margin: 0 auto;
        }
      }
      .cta-form{
        margin-bottom: 20px;
        //centering text
        &__info{
          margin: 40px auto 0 auto;
          text-align: center;
        }
        //centering source
        &__source{
          margin: 20px auto 0 auto;
          text-align: center;
        }
        //centering button
        &__buttons {
          margin: 42px auto 30px auto;
        }
      }
    }
  }
  .compatibility{
    .container-custom{
      //centering title
      .title{
        margin: 89px auto 0 auto;
        text-align: center;
        max-width: 80%;
      }
      //centering block
      .operating-systems{
        margin: 35px auto 0 auto;
        .ios{
          max-width: 450px;
          margin: 0 auto;
        }
        .android{
          max-width: 450px;
          margin: 0 auto;
        }
      }
    }
  }
  footer{
    //centering copyright
    .copyright{
      @include ptl(94px,0);
      text-align: center;
    }
    //centering registration form
    .registration-form{
      @include ptl(60px,0);
      margin: 0 auto;
      form{
        display: flex;
        flex-direction: column;
        label{
          text-align: center;
        }
        .email-form{
          @include ptl(13px,0);
          margin: 0 auto;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .banner{
    &__list{
      .cta-block{
        h2{
          padding-left: 0;
          font-size: 70px;
          letter-spacing: 0;
        }
      }
    }
  }
  .photos{
    .photos__list{
      .image-container{
        margin-bottom: 26px;
        width: 350px;
        img{
          height: 365px;
        }
        &:hover{
          .overlay{
            height: 50px;
          }
        }
      }
    }
  }
  .compatibility{
    .container-custom{
      //centering compatibility blocks
      .operating-systems{
        margin: 35px auto 0 auto;
        //centering ios block
        .ios{
          max-width: 450px;
          margin: 20px auto;
        }
        //centering android block
        .android{
          max-width: 450px;
          margin: 20px auto;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .new-features{
    background-color: #313131;
    .container-custom{
      .new-features__img {
        margin: 0;
        //centering photo
        img {
          display: block;
          margin: 20px auto 0 auto;
          height: 559px;
          width: 393px;
        }
      }
      .features-item{
        &__info{
          max-width: 550px;
        }
        //centering slider
        &__slider-list{
          margin: 0 auto;
        }
      }
    }
  }
  .navbar {
    &-toggler{
      margin-right: 20px;
    }
    &-collapse{
      //centering link in header menu
      .nav-link {
        max-width: 130px;
        margin: 0 auto;
      }
    }
  }
  .benefits{
    margin-bottom: 15px;
    .container-custom{
      h2{
        margin-top: 50px;
        padding: 0;
      }
      .benefits-list{
        &__item_start {
          p{
            margin: -4px auto 40px auto;
          }
        }
        &__item_middle {
          p{
            margin: -4px auto 40px auto;
          }
        }
        &__item_end {
          p{
            margin: -4px auto 40px auto;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .banner{
    &__list{
      .cta-block{
        h2{
          font-size: 60px;
        }
        &__buttons{
          flex-direction: column;
          .button-block{
            display: flex;
            flex-direction: column;
            //centering button
            &__button_first{
              margin: 0 auto 20px auto;
            }
            //centering button
            &__button_second{
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  .share{
    .container-custom{
      //centering share image
      .share-img{
        margin: 72px auto 0 auto;
      }
    }
  }
  .cta{
    .container-custom{
      //centering cta image
      &__image{
        margin: 40px auto 0 auto;
        img{
          display: block;
          margin: 0 auto;
        }
      }
      .cta-form{
        //text centering + small size
        &__info{
          margin: 40px auto 0 auto;
          text-align: center;
          font-size: 30px;
          letter-spacing: 1px;
        }
        //centering source
        &__source{
          margin: 20px auto 0 auto;
          text-align: center;
        }
        &__buttons {
          margin: 42px auto 30px auto;
        }
      }
    }
  }
  .compatibility{
    .container-custom{
      .operating-systems{
        .ios{
          //centering title
          &__title{
            text-align: center;
          }
          //centering text
          &__info{
            text-align: center;
          }
          //centering image
          &__devices{
            display: block;
            margin: 20px auto;
          }
        }
        .android{
          //centering title
          &__title{
            text-align: center;
          }
          //centering text
          &__info{
            text-align: center;
          }
          //centering image
          &__devices{
            display: block;
            margin: 20px auto;
          }
        }
      }
    }
  }
  footer{
    .row{
      margin: 0;
      padding: 0;
    }
    .registration-form{
      padding: 0;
      form{
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 700px) {
  .photos{
    .container-custom{
      //title centering + small size
      h2{
        font-size: 30px;
        line-height: 1.2;
        @include mtl(25px,0);
        text-align: center;
      }
      //text centering + small size
      .photos-info{
        text-align: center;
        font-size: 16px;
        letter-spacing: 0;
        max-width: 450px;
        margin: 20px auto 75px auto;
      }
    }
    .photos__list{
      display: flex;
      //centering image
      .image-container{
        margin: 0 auto 26px auto;
      }
    }
  }
}


@media (max-width: 650px) {
  .share {
    .container-custom {
      //centering image
      .share-img {
        margin: 20px auto 0 auto;
        //adaptive for image
        img{
          width: 100%;
          height: auto;
        }
      }
      .share-item {
        .slick-dots {
          justify-content: center;
        }
        //centering title
        &__title{
          h3{
            text-align: center;
            font-size: 35px;
          }
        }
        //centering text
        &__info{
          text-align: center;
        }
        &__slider-list{
          //slider in 1 column
          .slider-item{
            display: flex;
           flex-direction: column;
            //centering image
            &__img{
              display: block;
              margin: 30px auto 0 auto;
            }
            //centering paragraph
            &__paragraph{
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .cta{
    height: auto;
    .container-custom{
      .cta-form__buttons {
        flex-direction: column;
        &_first {
          margin: 0 auto;
        }
        &_second{
          margin: 30px auto 0 auto;
        }
      }
    }
  }
  .banner{
    &__list{
      .cta-block{
        h2{
          font-size: 50px;
        }
      }
    }
    .slider-dots{
      left: 39%;
    }
  }
}

@media (max-width: 550px) {
  .banner{
    &__list{
      .cta-block{
        h2{
          font-size: 32px;
        }
      }
    }
  }
  .new-features {
    .container-custom {
      .new-features__img {
        img {
          display: block;
          margin: 20px auto 0 auto;
          height: 559px;
          width: 393px;
        }
      }
      .features-item {
        //centering text
        &__info {
          margin: 24px auto 0 auto;
          padding: 0;
          max-width: 500px;
          text-align: center;
        }
        &__slider-list{
          width: 300px;
          .slider-item {
            flex-direction: column;
            height: auto;
            &__img{
              display: block;
              margin: 20px auto;
            }
            .slider-info{
              &__title {
                margin: 0 auto;
                text-align: center;
              }
              &__paragraph{
                margin: 10px auto;
                text-align: center;
                padding: 0 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 450px) {
  footer{
    .registration-form{
      form{
        .email-form{
          display: flex;
          flex-direction: column;
          //centering button
          button {
            margin: 20px auto 0 auto;
          }
        }
      }
    }
  }
  .banner{
    //banner dots centering
    .slider-dots{
      left: 36%;
    }
  }
}

@media (max-width: 420px) {
  .new-features {
    .container-custom {
      .features-item {
        //title centering + small size
        &__title {
          margin: 40px auto 0 auto;
          font-size: 34px;
          letter-spacing: 0;
        }
      }
      .new-features__img {
        img {
          margin: auto auto 0 auto;
          height: auto;
          width: 100%;
        }
      }
    }
  }
  .photos{
    .photos__list{
      display: flex;
      .image-container{
        margin: 0 auto 26px auto;
        .overlay{
          &__menu {
            top: 55%;
            left: 49.5%;
            .likes {
              right: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .compatibility{
    .container-custom{
      .operating-systems{
        .android{
          //adaptive for image
          img{
            height: auto;
            width: 90%;
          }
        }
      }
    }
  }
}


@media (max-width: 350px) {
  .photos{
    .photos__list{
      display: flex;
      .image-container{
        margin: 0 auto 26px auto;
        .overlay{
          // overlay menu centering
          &__menu {
            left: 50%;
            .likes {
              right: 0;
            }
          }
        }
      }
    }
  }
}
