@media (max-width: 1860px) {
  .photos{
    .photos__list{
      .image-container{
        .overlay {
          &__menu {
            width: 300px;
          }
        }
      }
    }
  }
}

@media (max-width: 1800px){
  .banner{
    background: #de5d5d url('../img/iphone.png') 50% 0 no-repeat;
    .container{
      .cta-block{
        h2{
          margin: 0 auto;
        }
        .cta-block__buttons{
          margin: 77px auto 0 auto;
        }
      }
    }
  }

  .photos{
    .photos__list{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      .image-container{
        width: 500px;
        margin: 0 auto 50px auto;
        .overlay {
          &__menu {
            width: 300px;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px){
  .share {
    .container-custom {
      .share-img {
        margin-left: 0;
      }
    }
  }
  .photos{
    .photos__list{
      .image-first{
        width: 464px;
      }
      .image-second{
        width: 518px;
      }
      .image-third{
        width: 519px;
      }
      .image-fourth{
        width: 498px;
      }
      .image-container {
        .overlay {
          &__menu {
            top: 55%;
            left: 49.5%;
            width: 450px;
          }
        }
        img{
          height: 519px;
          width: 100%;
        }
      }
    }
  }
  .photos{
    .photos__list{
      .image-container{
        width: 500px;
        margin: 0 auto 38px auto;
        img{
          width: 100%;
        }
        .overlay {
          &__menu {
            width: 300px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
  .new-features{
    .container-custom{
      .new-features__img{
        margin-top: 80px;
        margin-left: 0;
        img{
          height: 559px;
          width: 393px;
        }
      }
      .features-item{
        &__title{
          margin: 70px auto 0 auto;
          text-align: center;
        }
        &__info{
          margin: 24px auto 0 auto;
          padding-right: 30px;
          padding-left: 30px;
        }
      }
    }
  }
  .benefits{
    .container-custom{
      h2{
        margin-top: 100px;
        margin-bottom: 58px;
        padding-left: 37px;
        text-align: center;
      }
      .benefits-list{
        &__item_start {
          img {
            margin: 2px auto 0 auto;
            display: block;
          }
          h3{
            margin: 40px auto 0 auto;
          }
          p{
            margin: -4px auto 0 auto;
          }
        }
        &__item_middle {
          img {
            margin: 3px auto 0 auto;
          }
          h3{
            margin: 38px auto 0 auto;
          }
          p{
            margin: -4px auto 0 auto;
          }
        }
        &__item_end {
          img {
            margin: 3px auto 0 auto;
          }
          h3{
            margin: 39px auto 0 auto;
          }
          p{
            margin: -4px auto 0 auto;
          }
        }
      }
    }
  }
  .banner{
    .container{
      .cta-block{
        h2{
          font-size: 75px;
          font-weight: 400;
          letter-spacing: 0.5px;
        }
        .cta-block__buttons{
          margin: 77px auto 0 auto;
          &_first{
            width: 230px;
            height: 65px;
            img{
              padding: 4px 0 0 5px;
            }
            a{
              @include ctabutton;
              padding: 10px 0 0 12px;
            }
          }
          &_second{
            width: 230px;
            height: 65px;
            img{
              padding:4px 0 0 5px;
            }
            a{
              @include ctabutton;
              padding: 10px 0 0 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
  .banner{
    .container{
      .cta-block{
        h2{
          font-size: 65px;
          letter-spacing: 0;
        }
        .cta-block__buttons{
          margin: 77px auto 0 auto;
          max-width: 500px;
          &_first{
            width: 230px;
            height: 65px;
            img{
              padding: 4px 0 0 5px;
            }
            a{
              @include ctabutton;
              padding: 10px 0 0 12px;
            }
          }
          &_second{
            width: 230px;
            height: 65px;
            img{
              padding:4px 0 0 5px;
            }
            a{
              @include ctabutton;
              padding: 10px 0 0 15px;
            }
          }
        }
      }
    }
  }
  .photos{
    .photos__list{
      .image-container{
        margin-bottom: 26px;
        width: 350px;
        img{
          height: 365px;
        }
        &:hover{
          .overlay{
            height: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .share {
    height: auto;
    .container-custom {
      .share-img {
        margin-left: 25%;
      }
    }
  }
  .new-features {
    .container-custom {
      .new-features__img {
        margin: 0;
        img {
          display: block;
          margin: 20px auto 0 auto;
          height: 559px;
          width: 393px;
        }
      }

      .features-item {
        &__info {
          margin: 24px auto 0 auto;
          padding: 0;
          max-width: 500px;
        }
      }
    }
  }
  .benefits{
    .container-custom{
      h2{
        margin-top: 50px;
        padding: 0;
      }
      .benefits-list{
        &__item_start {
          p{
            margin: -4px auto 40px auto;
          }
        }
        &__item_middle {
          p{
            margin: -4px auto 40px auto;
          }
        }
        &__item_end {
          p{
            margin: -4px auto 40px auto;
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .share{
    .container-custom{
      .share-img{
        margin-left: 20%;
      }
    }
  }
}

@media (max-width: 768px) {
  .banner{
    .container{
      .cta-block{
        h2{
          font-size: 45px;
        }
        .cta-block__buttons{
          flex-direction: column;
          &_first{
            margin: 0 auto 20px auto;
          }
          &_second{
            margin: 0 auto;
          }
        }
      }
    }
  }
  .share{
    .container-custom{
      .share-img{
        margin: 72px auto 0 auto;
      }
    }
  }
}

@media (max-width: 700px) {
  .photos{
    .container-custom{
      h2{
        font-size: 30px;
        line-height: 1.2;
        @include mtl(25px,0);
        text-align: center;
      }
      .photos-info{
        text-align: center;
        font-size: 16px;
        letter-spacing: 0;
        max-width: 450px;
        margin: 20px auto 75px auto;
      }
    }
    .photos__list{
      display: flex;
      .image-container{
        margin: 0 auto 26px auto;
      }
    }
  }
}


@media (max-width: 650px) {
  .share {
    .container-custom {
      .share-img {
        margin: 72px auto 0 auto;
        img{
          width: 100%;
          height: auto;
        }
      }
      .share-item {
        .slick-dots {
          justify-content: center;
        }
        &__title{
          h3{
            text-align: center;
          }
        }
        &__info{
          text-align: center;
        }
        &__slider-list{
          .slider-item{
            display: flex;
           flex-direction: column;
            &__img{
              display: block;
              margin: 30px auto 0 auto;
            }
            &__paragraph{
              text-align: center;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .new-features {
    .container-custom {
      .new-features__img {
        img {
          display: block;
          margin: 20px auto 0 auto;
          height: 559px;
          width: 393px;
        }
      }
      .features-item {
        &__info {
          margin: 24px auto 0 auto;
          padding: 0;
          max-width: 500px;
          text-align: center;
        }
        &__slider-list{
          width: 300px;
          .slider-item {
            flex-direction: column;
            height: auto;
            &__img{
              display: block;
              margin: 20px auto;
            }
            .slider-info{
              &__title {
                margin: 0 auto;
                text-align: center;
              }
              &__paragraph{
                margin: 10px auto;
                text-align: center;
                padding: 0 20px;
              }
            }
          }
        }
      }
    }
  }
}


@media (max-width: 420px) {
  .new-features {
    .container-custom {
      .features-item {
        &__title {
          margin: 40px auto 0 auto;
          font-size: 34px;
          letter-spacing: 0;
        }
      }
      .new-features__img {
        img {
          margin: auto auto 0 auto;
          height: auto;
          width: 100%;
        }
      }
    }
  }
  .photos{
    .photos__list{
      display: flex;
      .image-container{
        margin: 0 auto 26px auto;
        .overlay{
          &__menu {
            top: 55%;
            left: 49.5%;
            .likes {
              right: 0;
            }
          }
        }
      }
    }
  }
}


@media (max-width: 350px) {
  .photos{
    .photos__list{
      display: flex;
      .image-container{
        margin: 0 auto 26px auto;
        .overlay{
          &__menu {
            left: 50%;
            .likes {
              right: 0;
            }
          }
        }
      }
    }
  }
}
