.banner{
  margin-top: 98px;
  background: #de5d5d url('../img/iphone.png') 230px 0 no-repeat;
  .container-custom{
    .cta-block{
      margin: 0 auto;
      h2{
        font-family: 'Montserrat', sans-serif;
        @include ptl(16.58%,1.2%);
        color: #ffffff;
        font-size: 90px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0;
        line-height: normal;
      }
      &__buttons{
        @include ptl(5.51%,5.8%);
        display: flex;
        flex-direction: column;
        max-width: 611px;
        .button-block{
          display: flex;
          justify-content: space-between;
          &__button_first{
            @include bb;
            img{
              padding: 7px 0 0 20px;
            }
            .button__text{
              @include ctabutton;
              padding: 15px 0 0 12px;
            }
          }
          &__button_second{
            @include bb;
            img{
              padding:11px 0 0 27px;
            }
            .button__text{
              @include ctabutton;
              padding: 15px 0 0 15px;
            }
          }
        }
      }
      .slick-dots {
        border-radius: 0 0 5px 5px;
        margin: 137px 0 16px 39.8%;
        li {
          margin: 31px 4px;
          button{
            height: 12px;
            width: 12px;
          }
        }
      }
    }
  }
}