.benefits{
  height: 593px;
  .container-custom{
    h2{
      margin-top: 102px;
      margin-bottom: 58px;
      margin-left: 523px;
      font-family: 'Montserrat', sans-serif;
      font-size: 48px;
      line-height: 1.2;
      font-weight: 600;
      color: #3a3a3a;
      text-align: center;
    }
    .benefits-list{
      &__item{
        img{
          width: 229px;
          height: 229px;
          display: block;
        }
        h3{
          font-family: 'Montserrat', sans-serif;
          text-align: center;
          font-size: 18px;
          font-weight: 600;
          color: #666666;
        }
        p{
          text-align: center;
          width: 250px;
          font-size: 16px;
        }
      }
      &__item_start {
        img {
          margin: 0 0 0 54px;
        }
        h3{
          margin-top: 40px;
          margin-left: 46px;
        }
        p{
          margin: -4px 0 0 37px;
          line-height: 23.5px;
        }
      }
      &__item_middle {
        img {
          width: 231px;
          height: 230px;
          margin: 1px 0 0 57px;
        }
        h3{
          margin-top: 38px;
          margin-left: 66px;
        }
        p{
          margin: -4px 0 0 47px;
          line-height: 23.5px;
        }
      }
      &__item_end {
        img {
          margin: 1px 0 0 59px;
        }
        h3{
          margin-top: 39px;
          margin-left: 73px;
        }
        p{
          margin: -4px 0 0 50px;
          line-height: 23.5px;
        }
      }
    }
  }
}