.benefits{
  margin-bottom: 113px;
  .container-custom{
    h2{
      margin-top: 100px;
      margin-bottom: 58px;
      padding-left: 20px;
      font-family: 'Montserrat', sans-serif;
      font-size: 48px;
      line-height: 1.2;
      font-weight: 600;
      color: #3a3a3a;
    }
    .benefits-list{
      &__item{
        img{
          width: 229px;
          height: 229px;
          display: block;
        }
        h3{
          font-family: 'Montserrat', sans-serif;
          text-align: center;
          font-size: 18px;
          font-weight: 600;
          color: #666666;
        }
        p{
          text-align: center;
          width: 250px;
          font-size: 16px;
        }
      }
      &__item_start {
        margin-left: 68px;
        img {
          margin: 2px 0 0 51px;
        }
        h3{
          margin-top: 40px;
          margin-left: 42px;
        }
        p{
          margin: -4px 0 0 34px;
          line-height: 23.5px;
        }
      }
      &__item_middle {
        img {
          width: 231px;
          height: 230px;
          margin: 3px 0 0 54px;
        }
        h3{
          margin-top: 38px;
          margin-left: 64px;
        }
        p{
          margin: -4px 0 0 44px;
          line-height: 23.5px;
        }
      }
      &__item_end {
        img {
          margin: 3px 0 0 56px;
        }
        h3{
          margin-top: 39px;
          margin-left: 67px;
        }
        p{
          margin: -4px 0 0 47px;
          line-height: 23.5px;
        }
      }
      margin-bottom: 11px;
    }
  }
}