@import "_variables.scss";
@import "_mixin.scss";
// header menu
.navbar {
  height: 98px;
  width: 100%;
  background-color: $red;
  position: fixed;
  z-index: 1000;
  // class that shows the menu when we have less that 998 px
  .show{
    position: absolute;
    background: $red;
    width: 100%;
    top: 98px;
    left: 0;
    text-align: center;
    padding: 0;
  }
  //styles for list of links
  &-collapse{
    // padding top and left
    @include ptl(0.3%,14.55%);
    //styles for link
    .nav-link {
      font-size: 18px;
      line-height: 1.2;
      font-weight: 400;
      color: $white;
      margin-right: 29px;
      // hover effect
      &:hover{
        border-top: 5px solid $white;
        // makes item not jump when hovering
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
    .features{
      margin-right: 4px;
    }
    .download{
      margin-right: -6px;
    }
  }
  //logo
  &-brand {
  color: $white;
  height: 96px;
  font-size: 60px;
  font-weight: 700;
  font-family: 'Myriad Pro', sans-serif;
    // padding top and left
    @include ptl(1.6%,21.3%);
  }
  span{
    color: $white;
  }
}
