/* banner button*/
@mixin bb{
  display: block;
  width: 257px;
  height: 77px;
  border: 3px solid #ffffff;
  border-radius: 5px;
}

 /* cta button style */
@mixin ctabutton{
  display: inline-block;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  color: #ffffff;
}

$size :10px;
$s :11px;

/*margin top and left*/
@mixin mtl($size,$s){
  margin-top: $size;
  margin-left: $s;
}

/*margin top and left*/
@mixin ptl($size,$s){
  padding-top: $size;
  padding-left: $s;
}

/*padding top and left*/
@mixin ptl($size,$s){
  padding-top: $size;
  padding-left: $s;
}