.photos{
  .container-custom{
    h2{
      font-family: 'Montserrat', sans-serif;
      font-size: 48px;
      line-height: 1.2;
      font-weight: 600;
      color: #f06464;
      @include mtl(70px,144px);
    }
    .photos-info{
      @include mtl(20px,148px);
      font-size: 18px;
      line-height: 27px;
      font-weight: 400;
      color: #666666;
      letter-spacing: 0.07px;
      max-width: 450px;
      margin-bottom: 75px;
    }
  }
  .photos__list{
    display: flex;
    .image-container {
      position: relative;
      padding: 0;
      .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #151515;
        overflow: hidden;
        width: 100%;
        height: 0;
        transition: .5s ease;
        &__menu {
          font-size: 18px;
          line-height: 27px;
          font-weight: 400;
          color: #c2c2c2;
          position: absolute;
          top: 55%;
          left: 49.5%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          display: flex;
          width: 450px;
          p{
            display: inline-block;
          }
          .likes{
            position: absolute;
            right: -3px;
            top: -1px;
            i{
              color: #f06464;
              display: inline-block;
              width: 25px;
              height: 31px;
              cursor: pointer;
            }
            span{
              font-size: 24px;
              line-height: 27px;
              font-weight: 400;
              color: #f06464;
            }
          }
        }
      }
      &:hover{
        img {
          transform: translateY(-10.5%) scale(1, 0.936);
          transition: .5s ease;
        }
        .overlay {
          height: 88px;
        }
      }
      img{
        transition: .5s ease;
        height: 519px;
        width: 100%;
      }
    }
    .image-first{
      width: 464px;
      position: relative;
      padding: 0;
      .overlay {
        &__menu {
          width: 400px;
        }
      }
    }
    .image-second{
      width: 518px;
    }
    .image-third{
      width: 519px;
    }
    .image-fourth{
      width: 498px;
      .overlay {
        &__menu {
          width: 420px;
        }
      }
    }
  }
}
