.share{
  background-color: #262626;
  .container-custom{
    .share-img{
      margin-top: 72px;
      margin-left: 80px;
      img{}
    }
    .share-item {
      padding-left: 11px;
      .slick-dots {
        padding-left: 1px;
        li{
          margin: 31px 4px;
        }
      }
      &__title{
        h3{
          padding-top: 184px;
          margin-left: 2px;
          font-family: 'Montserrat', sans-serif;
          font-size: 48px;
          line-height: 1.2;
          font-weight: 600;
          color: white;
        }
      }
      &__info{
        @include ptl(10px,6px);
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        color: #aeaeae;
      }
      &__slider-list{
        .slider-item{
          display: flex;
          &__img{
            @include mtl(51px,6px);
            width: 170px;
            height: 93px;
          }
          &__paragraph{
            @include mtl(46px,31px);
            padding-right: 12px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: #aeaeae;
          }
        }
      }
    }
  }
}