.share{
  height: 734px;
  background-color: #262626;
  .container-custom{
    .share-img{
      margin-top: 72px;
      margin-left: 80px;
    }
    .share-item{
      padding-left: 13px;
      &__title{
        h3{
          padding-top: 184px;
          margin-left: 1px;
          font-family: 'Montserrat', sans-serif;
          font-size: 48px;
          line-height: 1.2;
          font-weight: 600;
          color: white;
        }
      }
      &__info{
        padding-top: 10px;
        padding-left: 3px;
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        color: #aeaeae;
      }
      &__slider-list{
        .slider-item{
          display: flex;
          &__img{
            margin-top: 52px;
            margin-left: 4px;
            width: 170px;
            height: 93px;
          }
          &__paragraph{
            margin-top: 46px;
            margin-left: 31px;
            padding-right: 12px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: #aeaeae;
          }
        }
      }
    }
  }
}