@import "_variables.scss";
@import "_mixin.scss";
.share{
  background-color: $brown;
  .container-custom{
    //share photo
    .share-img{
      margin-top: 72px;
      margin-left: 3.89%;
    }
    .share-item {
      padding-left: 11px;
      .slick-dots {
        padding-left: 1px;
        li{
          margin: 31px 4px;
        }
      }
      //title
      &__title{
        h3{
          padding-top: 182px;
          margin-left: 3px;
          font-family: 'Montserrat', sans-serif;
          font-size: 48px;
          line-height: 1.2;
          font-weight: 600;
          color: $white;
        }
      }
      //test about share
      &__info{
        @include ptl(13px,6px);
        font-size: 18px;
        letter-spacing: 0;
        line-height: 27px;
        font-weight: 400;
        color: $gray-light;
      }
      //slider
      &__slider-list{
        .slider-item{
          display: flex;
          //slider image
          &__img{
            @include mtl(51px,7px);
            width: 170px;
            height: 93px;
          }
          //slider text
          &__paragraph{
            @include mtl(46px,31px);
            padding-right: 12px;
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            color: $gray-light;
          }
        }
      }
    }
  }
}