$white : #fff;
$red: #de5d5d;
$light-gray: #666666;
$gray: #cbcbcb;
$bark-white: #f4f4f4;
$blue: #3393FF;
$black: #151515;
$gray-light: #aeaeae;
$light-black: #313131;
$brown: #262626;
$gray64 :#3a3a3a;
$gray15: #262626;