.banner{
  margin-top: 98px;
  height: 689px;
  background: #de5d5d url('../img/iphone.png') 230px 0 no-repeat;
  .container{
    .cta-block{
      margin: 0 auto;
      h2{
        font-family: 'Montserrat', sans-serif;
        /* Style for "Capture an" */
        padding-top: 196px;
        margin-left: 170px;
        color: #ffffff;
        font-size: 85px;
        font-weight: 550;
        font-style: normal;
        letter-spacing: 1.2px;
        line-height: normal;
        text-align: center;
      }
      .cta-block__buttons{
        margin: 77px 0 0 394px;
        display: flex;
        justify-content: space-between;
        max-width: 543px;
        .cta-block__button{
          display: block;
          width: 257px;
          height: 77px;
          border: 3px solid #ffffff;
          border-radius: 5px;
        }
        .cta-block__button_first{
          img{
            padding: 7px 0 0 20px;
          }
          a{
            @include ctabutton;
            padding: 15px 0 0 12px;
          }
        }
        .cta-block__button_second{
          img{
            padding:11px 0 0 27px;
          }
          a{
            @include ctabutton;
            padding: 15px 0 0 15px;
          }
        }
      }
    }
  }
}