.banner{
  height: 697px;
  background: #de5d5d url('../img/iphone.png') 230px 0 no-repeat;
  .container{
    .cta-block{
      margin: 0 auto;
      h2{
        font-family: 'Montserrat', sans-serif;
        padding-top: 196px;
        margin-left: 163px;
        color: #ffffff;
        font-size: 90px;
        font-weight: 600;
        font-style: normal;
        letter-spacing: 0;
        line-height: normal;
        text-align: center;
      }
      &__buttons{
        margin: 72px 0 0 33.4%;
        display: flex;
        justify-content: space-between;
        max-width: 543px;
        &_first{
          @include bb;
          img{
            padding: 7px 0 0 20px;
          }
          a{
            @include ctabutton;
            padding: 15px 0 0 12px;
          }
        }
        &_second{
          @include bb;
          img{
            padding:11px 0 0 27px;
          }
          a{
            @include ctabutton;
            padding: 15px 0 0 15px;
          }
        }
      }
    }
  }
}