.navbar {
  height: 90px;
  &-brand {
    color: white;
    height: 96px;
    font-size: 60px;
    line-height: 102px;
    font-weight: 700;
    font-family: 'Myriad Pro', sans-serif;
  }
  .nav-link {
    color: white;
  }
  .container{
    margin-left: 22%;
  }
}